#organization-endorsement-form-container {
    text-align: center;
}

#endorsement-form legend {
    width: 100%;
}

#endorsement-form legend h3 {
    text-align: center;
}

.endorsement-form-element-container {
    margin: 0 0 10px 0;
}

.endorsement-form-element-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
    font-size: 12px;
}

.endorsement-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.endorsement-form-element-container select {
    width: 95%;
    border-radius: 50px;
    padding: 5px;
}

#endorsement-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    border-radius: 50px;
    padding: 5px;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#endorsement-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

#endorsement-login-message, #endorsement-login-message h3 {
    width: 100%;
    text-align: center;
    color: #4378bc;
}

/* Desktop CSS */
@media(min-width:991px){
    
   .endorsement-form-element-container label {
        margin: 0 0 10px 10px;
    }

    .endorsement-form-element-container select {
        width: 100%;
    }

    #endorsement-form-submit {
        width: 25%;
    }

    #endorsement-form-submit:hover {
        width: 25%;
    }
    
}