/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Header
  # Site Info
    # site-title
    # site-description
  # Navigation
# Main
  # Home
  # About
  # Portfolio
  # Services
  # Contact
# Footer
----------------------------------------------------------------
>>>
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*---------- # Body ------------------------------------------*/
body {
    background-color: #262626;
    color: #e6e7e8;
}
/*---------- # Headings --------------------------------------*/
h1 {
    margin: 0;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*---------- # Site Logo -------------------------------------*/
#site-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 10px 5px 10px;
    height: 25px;
}

#site-logo {
    flex: 1;
    margin-left: -5px;
    background-image: url(../images/site-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#site-logo a {
    display: block;
    height: 100%;
    width: 100%;
}

#site-title {
    flex: 3;
    margin-top: -8px;
    margin-left: -18px;
}

#site-title a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #e6e7e8;
}

#site-title a:hover {
    color: #4378bc;
}

#site-title a:active {
    color: #4378bc;
}

#site-title a:visited {
    color: #e6e7e8;
}
/*---------- # Nav -------------------------------------------*/
nav {}

#main-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 10px 5px 10px;
    height: 25px;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    border-radius: 50px;
    padding: 0;
    overflow: hidden;
}

.tooltiptext {
    flex: 1;
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
    background-color: #4378bc;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    z-index: 1;
}

.main-menu-button {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.main-menu-button:hover {
    background-color: #4378bc;
}

#main-menu-hamburger {
    background-image: url(../images/hamburger-icon.png);
    border-right: 1px solid #e6e7e8;
}

#main-menu-hamburger:hover .tooltiptext {
    visibility: visible;
}

#main-menu-home {
    background-image: url(../images/home-icon.png);
    border-right: 1px solid #e6e7e8;
}

#main-menu-home:hover .tooltiptext {
    visibility: visible;
}

#main-menu-search {
    background-image: url(../images/search-icon.png);
    border-right: 1px solid #e6e7e8;
}

#main-menu-search:hover .tooltiptext {
    visibility: visible;
}

#main-menu-share {
    background-image: url(../images/share-icon.png);
    border-right: 1px solid #e6e7e8;
}

#main-menu-share:hover .tooltiptext {
    visibility: visible;
}

#main-menu-login {
    background-image: url(../images/login-icon.png);
}

#main-menu-login:hover .tooltiptext {
    visibility: visible;
}

.main-menu-link {
    display: block;
    height: 100%;
    width: 100%;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
/*---------- # Home ------------------------------------------*/
#welcome-statement {
    margin: 10px;
}

#home-links {
    margin: 20px 10px 10px 10px;
}

#home-links-list {
    list-style: none;
}

.home-links-list-item {
    margin-top: 5px;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.home-links-list-item:hover {
    background-color: #323232;
}

.home-links {
    display: block;
    height: 100%;
    width: 100%;
    color: #e6e7e8;
    text-decoration: none;
}
/*---------- # Report ----------------------------------------*/
#login-form-container {
    flex: 1;
    text-align: center;
}

#login-form {}

#login-form legend {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

#login-form legend a {
    color: #4378bc;
}

#login-form legend a:hover {
    color: #e6e7e8;
}

.login-form-input-container {
    padding: 5px;   
}

.login-form-input-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
}

.login-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.login-form-input-container input {
    border-radius: 50px;
    padding: 5px;
}

#login-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#login-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}
/* Forgotten login info form*/
#forgotten-login-info-form-container {
    flex: 1;
    text-align: center;
}

#forgotten-login-info-form {}

.forgotten-login-info-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

#forgotten-login-info-form-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
}

#forgotten-login-info-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    border-radius: 50px;
    padding: 5px;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#forgotten-login-info-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}
/*---------- # Report ----------------------------------------*/
#report-discrimination-form-container {
    flex: 1;
    text-align: center;
}

#report-discrimination-form {}

#report-discrimination-form legend {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.report-discrimination-form-input-container {
    padding: 5px;   
}

.report-discrimination-form-input-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
}

.report-discrimination-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.report-discrimination-form-input-container input {
    border-radius: 50px;
    padding: 5px;
}

.report-discrimination-form-input-container select {
    width: 95%;
    border-radius: 50px;
    padding: 5px;
}

.report-discrimination-form-input-container textarea {
    border-radius: 25px;
    padding: 10px;
}

#report-discrimination-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#report-discrimination-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}
/*---------- # Recommend -------------------------------------*/
#recognize-an-organization-form-container {
    flex: 1;
    text-align: center;
}

#recognize-an-organization-form {}

#recognize-an-organization-form legend {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.recognize-an-organization-form-input-container {
    padding: 5px;   
}

.recognize-an-organization-form-input-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
}

.recognize-an-organization-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.recognize-an-organization-form-input-container input {
    border-radius: 50px;
    padding: 5px;
}

.recognize-an-organization-form-input-container select {
    width: 95%;
    border-radius: 50px;
    padding: 5px;
}

.recognize-an-organization-form-input-container textarea {
    border-radius: 25px;
    padding: 10px;
}

#recognize-an-organization-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#recognize-an-organization-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}
/*---------- # Resources -------------------------------------*/

/*---------- # Need to Know ----------------------------------*/

/*---------- # FAQ / About -----------------------------------*/
#about-container {
    margin: 10px;
}

#faq-container {
    margin: 10px;
}
/*---------- # Privacy Policy --------------------------------*/

/*---------- # Contact ---------------------------------------*/
#contact-form-container {
    flex: 1;
    text-align: center;
}

#contact-form {}

#contact-form legend {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.contact-form-input-container {
    padding: 5px;   
}

.contact-form-input-container label {
    display: block;
    margin: 0 0 5px 20px;
    text-align: left;
}

.contact-form-element {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.contact-form-input-container input {
    border-radius: 50px;
    padding: 5px;
}

.contact-form-input-container textarea {
    border-radius: 25px;
    padding: 10px;
}

#contact-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#contact-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/