#search-form-container {
    flex: 1;
    text-align: center;
}

#search-form {}

#search-form legend {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.search-form-element-container {
    padding: 5px;   
}

.search-form-element-container label {
    display: block;
    margin: 0 0 5px 0px;
    text-align: center;
    font-size: 12px;
}

.search-form-element {
    width: 100%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

.search-form-element-container input {
    border-radius: 50px;
    padding: 5px;
}

#search-form-submit {
    width: 90%;
    background-color: #4378bc;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
    cursor: pointer;
}

#search-form-submit:hover {
    width: 90%;
    background-color: #323232;
    border: 1px solid #e6e7e8;
    font-size: 12px;
    color: #e6e7e8;
}

/* Desktop CSS */
@media(min-width:991px){
    
    .search-form-element-container label {
        margin: 0 0 10px 0;
    }

    #search-form-submit {
        width: 25%;
    }

    #search-form-submit:hover {
        width: 25%;
    }
    
}