.search-result-item {
    flex: 1;
    margin-bottom: 10px;
    background-color: #e6e7e8;
    border-radius: 25px;
    padding: 5px;
    color: #262626;
}

.search-result-item:hover {
    background-color: #4378bc;
    color: #262626;
}

.search-result-item #org-name h2 {
    margin: 0;
    color: #262626;
}

.search-result-link {
    text-decoration: none;
}

.search-result-item div {
    margin: 2px;
    padding: 5px;
}

/* Desktop CSS */
@media(min-width:991px){
    
    
    
}